doctype html5
head
  meta(charset="utf-8")
  title= title
  meta(name="description", content="#{description}")
  meta(name="author", content="#{author}")
  meta(name="viewport", content="width=device-width,initial-scale=1")
  link(rel="stylesheet", href="/css/normalizer.min.css")
  link(rel="stylesheet", href="/css/main.css")

body
  header
  div(role="main")!= body
  footer